body, html {
    width: 100%;
    height: 100%;
}

#area {
    
    width: 100%;
    height: 100%;
    
    background-color: rgba(#000000, 0.4);
    
    cursor: url(/img/icon-1.png), -moz-zoom-in;
    
}


